{% extends "base.html.twig" %}

{% block body %}
	<div class="event_content">
		<div class="right_content">
			<div class="content_img">
				<img src="{{ asset('images/produits/' ~ produit.image) }}" alt="" class="img-fluid">
			</div>

			<div class="bottom_content">
				<div class="description">
					<h4>Description</h4>
					<div class="description_content">
						{{ produit.description }}
					</div>
				</div>

				<hr class="divider">

				<div class="comments">
					<h4>Chat</h4>
					{% for commentaire in produit.commentaires %}
					<div class="comment">
						<div class="row">
							<div class="">
								{{commentaire.user}}
								(<small>{{commentaire.createdAt|date('d/m/Y à H:i:s')}}</small>)                   
							</div>
							<div class="">
								{{commentaire.contenu|raw}}
							</div>
						</div>
					</div>
					<hr>
					{% endfor %}
					{% if is_granted('ROLE_USER') %}
						{{form_start(formCommentaire)}}

						{{form_row(formCommentaire.contenu, {
							'label': "Chat",
							'attr': {
								'placeholder': "Contenu",
							}
						})}}

						<button type="submit" class="btn btn-primary">Commenter</button>
						{{form_end(formCommentaire)}}
					{% else %}
						<a href="{{ path('app_login') }}" class="nav-link active">Connexion</a>
					{% endif %}
				</div>
				
			</div>
		</div>

		<div class="sidebar">
			<div class="">
				<h2>{{ produit.nom }}</h2>
				<h4 class="categorie">Catégorie : <span class="italic"> {{produit.categorie.titre}} </span></h4>
				<h4>Capacite : <span class="italic"> {{produit.capacite}} personnes </span></h4>
				<div class="col join_event">
                    <a href="{{ path('see_event', {'id': produit.id}) }}" class="btn btn-success btn-block">Participer</a>
                </div>
			</div>
		</div>
			
		
	</div>
{% endblock %}
